<template>
  <div id="CV" class="grid-cv">
    <div class="first-col-background"></div>

    <avatar class="avatar-area center-grid-item top" />

    <titleCV
      title="Bastiaan Van denabeele"
      subTitle="Curriculum Vitae"
      :text="resume.person.about"
      class="title-area top"
    ></titleCV>

    <div class="personalia-area personalia-flex top">
      <ContentSectionCard title="Personalia" :border="false">
        <ContentList :separator="true" class="pt-1 pb-2">
          <PersonaliaListItem
            v-for="personInfoItem in resume.person.personalia"
            :key="personInfoItem.id"
            :text="personInfoItem.text"
            :icon="personInfoItem.icon"
          />
        </ContentList>
      </ContentSectionCard>
      <ContentSectionCard title="Skills" :border="false">
        <FlexColumn class="py-2">
          <Skill
            v-for="skill in filterHide(resume.skills.programming)"
            :key="skill.id"
            :name="skill.name"
            :level="skill.level"
          />
        </FlexColumn>
      </ContentSectionCard>
      <ContentSectionCard title="Languages" :border="false">
        <FlexColumn class="py-2">
          <Skill
            v-for="language in resume.skills.languages"
            :key="language.id"
            :name="language.name"
            :level="language.level"
          />
        </FlexColumn>
      </ContentSectionCard>

      <ContentSectionCard title="Hobbies" :border="false">
        <div class="py-2">
          <Chip
            v-for="hobbie in filterHide(resume.hobbies)"
            :key="hobbie.id"
            :text="hobbie.text"
          />
        </div>
      </ContentSectionCard>
      <div class="display-qr center-v-h pt-10">
        <QRcode />
      </div>
    </div>

    <ContentSectionCard
      class="experience-area top"
      title="Experience"
      :border="true"
    >
      <ContentList :separator="true" class="py-2">
        <ExperienceGroupListItem
          class="py-1"
          v-for="experienceGroup in filterHide(resume.experiences)"
          :groupTitle="experienceGroup.name"
          :key="experienceGroup.id"
        >
          <ContentList>
            <ExperienceListItem
              v-for="item in filterHide(experienceGroup.items)"
              :key="item.id"
              :company="item.company"
              :title="item.title"
              :about="item.about"
              :link="item.link"
              :location="item.location"
              :tasks="item.tasks"
              :startdate="item.startdate"
              :enddate="item.enddate"
            />
          </ContentList>
        </ExperienceGroupListItem>
      </ContentList>
    </ContentSectionCard>

    <ContentSectionCard
      title="Education"
      :border="true"
      class="education-area top"
    >
      <ContentList :separator="true" class="py-1">
        <EducationListItem
          v-for="educationItem in filterHide(resume.basic_education)"
          :key="educationItem.id"
          :degree="educationItem.degree"
          :school="educationItem.school"
          :location="educationItem.place"
          :courses="educationItem.courses"
          :startdate="educationItem.startdate"
          :enddate="educationItem.enddate"
        />
      </ContentList>
    </ContentSectionCard>
    <links class="footer-area top" :dataList="resume.sites"></links>
  </div>
</template>

<script>
import links from "./sub/links"
import titleCV from "./sub/titleCV"
import avatar from "@/components/atoms/avatar"
import Chip from "@/components/atoms/chip"
import ContentSectionCard from "@/components/atoms/ContentSectionCard"
import ContentList from "@/components/molecules/ContentList"
import EducationListItem from "@/components/molecules/EducationListItem"
import PersonaliaListItem from "@/components/molecules/PersonaliaListItem"
import ExperienceListItem from "@/components/molecules/ExperienceListItem"
import ExperienceGroupListItem from "@/components/molecules/ExperienceGroupListItem"
import FlexColumn from "@/components/molecules/FlexColumn"
import Skill from "@/components/molecules/Skill"
import QRcode from "@/components/atoms/QRcode"

import { mapGetters } from "vuex"

export default {
  name: "CVLayout",
  data() {
    return {
      //
    }
  },

  computed: {
    ...mapGetters({
      resume: "getresumeEN",
      layout: "getA4Layout"
    })
  },
  methods: {
    filterHide: function (list) {
      return list.filter((el) => !el.hide === true)
      /*return list*/
    }
  },
  components: {
    titleCV,
    avatar,
    Chip,
    links,
    ContentSectionCard,
    ContentList,
    FlexColumn,
    EducationListItem,
    PersonaliaListItem,
    ExperienceListItem,
    ExperienceGroupListItem,
    Skill,
    QRcode
  }
}
</script>

<style lang="scss">
.top {
  z-index: 10;
}

.grid-cv {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 250px auto 1fr 2em;
  grid-gap: 1em;
  grid-template-areas:
    "avatar title"
    "person experience"
    "person education"
    "footer education";
  min-height: var(--height-cv);
  max-width: var(--width-cv);
  padding: 1em;
}

.center-grid-item {
  justify-self: center;
  align-self: center;
}

.avatar-area {
  grid-area: avatar;
}

.avatar-padding {
  width: none;
  padding: 1em;
}

.title-area {
  grid-area: title;
}

.experience-area {
  grid-area: experience;
}

.education-area {
  margin-top: 10px;
  grid-area: education;
}

.personalia-area {
  grid-area: person;
}

.personalia-flex {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0 1em 0 1em;
  height: 100%;
}

.personalia-flex > *:not(:last-child) {
  margin-bottom: 1em;
}

.footer-area {
  grid-area: footer;
}

.first-col-background {
  grid-column: 1;
  grid-row: 1 / span 4;
  background-color: var(--v-backgroundColor-base);
  border-top-left-radius: calc(3 * var(--tool-bar-border-radius));
  border-top-right-radius: calc(3 * var(--tool-bar-border-radius));

  border-bottom-left-radius: calc(1 * var(--tool-bar-border-radius));
  border-bottom-right-radius: calc(1 * var(--tool-bar-border-radius));
  z-index: 0;
}

@media only screen and (max-width: 960px) {
  #CV {
    grid-template-columns: 100%;
    grid-template-rows: 250px repeat(4, auto) 2em;
    grid-template-areas:
      "avatar"
      "title"
      "person"
      "experience"
      "education"
      "footer";
  }

  #CV {
    .first-col-background {
      grid-row: 1 / span 6;
    }

    .education-area {
      margin-left: 1em;
      margin-right: 1em;
    }

    .experience-area {
      margin-left: 1em;
      margin-right: 1em;
    }

    .toolbar-containe-border {
      border-style: none;
    }

    .title-cv-bar {
      margin-left: 1em;
      width: calc(100% - (16px * 2));
      background-color: var(--v-backgroundColor-darken3);
    }

    .display-qr {
      display: none;
    }
  }
}
</style>
