<template>
  <ContentSectionCard :title="title" border>
    <v-list two-line>
      <template v-for="(degree, degreeGroup, index) in dataList">
        <v-divider v-if="index > 0" :key="`${degreeGroup}-divider`"></v-divider>

        <v-list-item :key="`${degreeGroup}-list-tile`">
          <v-list-item-content class="flex-grow-3">
            <v-list-item-title>{{ degree.degree }}</v-list-item-title>
            <v-list-item-subtitle>{{ degree.school }}</v-list-item-subtitle>
            <v-list-item-subtitle>{{ degree.courses }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content>
            <v-list-item-title class="text-md-right">{{
              degree.place
            }}</v-list-item-title>
            <v-list-item-subtitle class="text-md-right"
              >{{ degree.startdate }}-{{ degree.enddate }}</v-list-item-subtitle
            >
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-list>
  </ContentSectionCard>
</template>

<script>
import ContentSectionCard from "@/components/atoms/ContentSectionCard"

export default {
  name: "basicEducation",
  data() {
    return {
      //
    }
  },

  props: {
    dataList: Object,
    title: String,
    space: {
      type: Boolean,
      default: false
    }
  },

  components: {
    ContentSectionCard
  }
}
</script>
