<template>
  <div class="flex-multi-links container-links">
    <template v-for="(nestedvalue, key) in dataList">
      <a
        class="flex-single-link"
        :href="nestedvalue.url"
        v-if="!nestedvalue.hide"
        :key="key"
      >
        <div>
          <img
            class="logo-link"
            :src="nestedvalue.icon"
            height="25"
            width="25"
          />
        </div>
        <p>{{ nestedvalue.text }}</p>
      </a>
    </template>
  </div>
</template>

<script>
import { mapGetters } from "vuex"

export default {
  name: "links",

  props: {
    dataList: Object,

    height: Number
  },

  computed: mapGetters({
    baseUrl: "getBaseUrl"
  })
}
</script>

<style>
.container-links {
  padding-left: 1em;
  padding-right: 1em;
}

.flex-multi-links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.flex-single-link {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

a.flex-single-link {
  text-decoration: none;
}

a.flex-single-link:visited {
  color: black;
}

.flex-single-link > p {
  display: block;
  margin: 0;
}

.logo-link {
  margin-right: 0.5em;
}
</style>
