<template>
  <div>
    <h1 class="title-cv">{{ title }}</h1>
    <h2 class="subtitle-cv">{{ subTitle }}</h2>
    <div class="title-cv-bar"></div>
    <p class="title-cv-text">{{ text }}</p>
  </div>
</template>

<script>
export default {
  name: "titleCV",
  props: {
    title: {
      type: String,
      default: "Title"
    },
    subTitle: {
      type: String,
      default: "Sub Title"
    },
    text: {
      type: String,
      default: "lorem ipsum"
    }
  }
}
</script>

<style lang="scss">
.title-cv {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 4rem;
  font-size: 3rem;
  letter-spacing: normal;
  color: var(--v-backgroundColor-darken3);
  padding-bottom: 0.2em;
  padding-left: 0.2em;
}

.subtitle-cv {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-align: right;
  line-height: 3rem;
  font-size: 2rem;
  letter-spacing: normal;
  color: var(--v-backgroundColor-darken3);
  padding-bottom: 0.2em;
  padding-right: 1em;
}

.title-cv-text {
  @extend .black-text;
  font-family: Roboto, sans-serif;
  line-height: 2rem;
  font-size: 1.2rem;
  letter-spacing: normal;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
}

.title-cv-bar {
  height: 0.1em;
  width: 100%;
  background-color: var(--v-backgroundColor-base);
}
</style>
