<template>
  <v-chip
    :small="true"
    class="margin-chip"
    color="chipColor"
    text-color="white"
  >
    {{ text }}
  </v-chip>
</template>

<script>
export default {
  name: "Chip",

  props: {
    text: String
  }
}
</script>

<style scoped>
.flex-hobbies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.padding-hobbies {
  padding: 0.5em;
}

.margin-chip {
  margin: 0.5em;
}
</style>
