<template>
  <ProgressBar :percent="skillsLevel" />
</template>

<script>
import ProgressBar from "@/components/atoms/ProgressBar"

export default {
  name: "Level",
  data() {
    return {
      //start level before css transition takes affect
      skillsLevel: 0.1
    }
  },

  props: {
    level: [Object, Number],
    name: String
  },

  mounted() {
    this.skillsLevel = this.computeSkillsLevel()
  },
  watch: {
    level: function () {
      this.skillsLevel = this.computeSkillsLevel()
    }
  },

  methods: {
    computeSkillsLevel: function () {
      const isObject = typeof this.level === "object"
      return isObject ? this.averageSkill(this.level) : this.level
    },

    averageSkill(skills) {
      let total = 0
      for (const sublevel in skills) {
        total += skills[sublevel]
      }
      return total / Object.keys(skills).length
    }
  },

  components: {
    ProgressBar
  }
}
</script>
