<template>
  <div class="bar">
    <div class="progress" :style="{ width: progressLength }"></div>
  </div>
</template>

<script>
export default {
  name: "ProgressBar",

  props: {
    percent: {
      type: Number,
      default: 0,
      validator: function (value) {
        return value >= 0 && value <= 1
      }
    }
  },
  computed: {
    progressLength() {
      return `${this.percent * 100}%`
    }
  }
}
</script>

<style lang="scss">
.bar {
  background-color: var(--v-bottomBarColor-base);
  border-radius: 0.5em;
  height: 1em;
  width: 100%;
  .progress {
    background-color: var(--v-topBarColor-base);
    border-radius: 0.5em;
    height: 100%;
    transition: width 2s;
  }
}
</style>
