<template>
  <div>
    <canvas id="qrcode"></canvas>
  </div>
</template>

<script>
export default {
  name: "qrcode",
  mounted() {
    var QRious = require("qrious")
    let theme = this.$vuetify.theme.themes.light
    new QRious({
      element: document.getElementById("qrcode"),
      background: theme.backgroundColor,
      backgroundAlpha: 1,
      foreground: theme.toolbarColor,
      foregroundAlpha: 1,
      level: "H",
      padding: 0,
      size: 200,
      value: "http://cv.bvdcreations.com/"
    })
  }
}
</script>
