<template>
  <v-list :class="separator ? 'content-list' : ''">
    <slot />
  </v-list>
</template>

<script>
export default {
  name: "ContentList",

  props: {
    separator: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss">
.content-list {
  > div {
    border-bottom-width: calc(var(--tool-bar-border-width) / 2);
    border-bottom-color: var(--v-backgroundColor-lighten1);
    border-bottom-style: solid;
    &:last-child {
      border-bottom-width: 0px;
    }
  }
}
</style>
