<template>
  <div class="education-container-experience py-2 px-1">
    <div class="degree-area degree-flex">
      <div class="degree-text pr-5">
        {{ degree }}
      </div>
      <div class="main-text">{{ school }}</div>
      <div class="second-text">{{ courses }}</div>
    </div>

    <div class="location-date-area main-text">
      <div>{{ location }}</div>
      <div class="second-text">
        {{ formatDate(startdate) }} -<wbr />
        {{ formatDate(enddate) }}
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.main-text {
  @extend .black-text;
  line-height: 1.4em;
}
.degree-text {
  @extend .main-text;
  font-weight: bold;
  font-size: 1.2rem;
}
.second-text {
  @extend .black-accent-text;
  font-size: 0.875rem;
  line-height: 1.2em;
}
.education-container-experience {
  display: grid;
  grid-template-columns: auto 150px;
  grid-gap: 0.2em;
  grid-template-areas: "degree location-date";
  justify-content: space-between;
  align-content: stretch;
}

.degree-area {
  grid-area: degree;
}
.location-date-area {
  grid-area: location-date;
  justify-self: end;
  align-self: start;
  div {
    text-align: right;
  }
}
.degree-flex {
  display: flex;
  flex-flow: column wrap;
  align-items: baseline;
  justify-content: space-between;
  align-content: stretch;
}
</style>

<script>
import { DateTime } from "luxon"

export default {
  props: {
    degree: {
      type: String
    },
    school: {
      type: String
    },
    courses: {
      type: String
    },
    location: {
      type: String
    },
    startdate: {
      type: [String, Date, Number],
      required: true
    },
    enddate: {
      type: [String, Date, Number],
      required: true
    }
  },
  methods: {
    formatDate: (date) => {
      return DateTime.fromISO(date).toFormat("MMM yyyy")
    }
  }
}
</script>
