<template>
  <v-list>
    <div class="border px-2">
      <h2 class="experience-group">
        {{ groupTitle }}
      </h2>
    </div>
    <div>
      <slot />
    </div>
  </v-list>
</template>

<script>
export default {
  name: "ContentList",

  props: {
    groupTitle: {
      type: String
    }
  }
}
</script>

<style lang="scss">
.border {
  border-bottom-width: calc(var(--tool-bar-border-width) / 2);
  border-bottom-color: var(--v-backgroundColor-lighten1);
  border-bottom-style: solid;
}
.experience-group {
  color: var(--v-backgroundColor-darken3);
}
</style>
