<template>
  <div class="container-experience pt-2 px-4">
    <div class="company-area company-flex">
      <div class="company-text pr-5">
        {{ company }}
      </div>
      <div class="main-text">{{ title }}</div>
      <div class="second-text">{{ about }}</div>
    </div>

    <div class="location-date-area main-text">
      <div>{{ location }}</div>
      <div class="second-text">
        {{ formatDate(startdate) }} -<wbr />
        {{ formatDate(enddate) }}
      </div>
    </div>
    <div class="tasks-area tasks">
      <ul>
        <li v-for="(task, index) in tasks" :key="index">
          <i>
            {{ task }}
          </i>
        </li>
      </ul>
    </div>
  </div>
</template>

<style lang="scss">
.main-text {
  @extend .black-text;
  line-height: 1.4em;
}
.company-text {
  @extend .main-text;
  font-weight: bold;
  font-size: 1.2rem;
}
.second-text {
  @extend .black-accent-text;
  font-size: 0.875rem;
  line-height: 1.2em;
}
.container-experience {
  display: grid;
  grid-template-columns: auto 150px;
  grid-template-rows: 1fr auto;
  grid-gap: 0.2em;
  grid-template-areas:
    "company location-date"
    "tasks tasks";
  justify-content: space-between;
  align-content: stretch;
}

.company-area {
  grid-area: company;
}
.location-date-area {
  grid-area: location-date;
  justify-self: end;
  align-self: start;
  div {
    text-align: right;
  }
}
.job-title-area {
  grid-area: job-title;
}
.tasks-area {
  grid-area: tasks;
}

.tasks {
  ul {
    list-style: none; /* Remove list bullets */
    li {
      @extend .black-accent-text;
      margin-left: 0.5em;
    }
    li::before {
      content: "-"; /* Insert content that looks like bullets */
      font-weight: bolder;
      padding-right: 0.5em;
    }
  }
}

.company-flex {
  display: flex;
  flex-flow: column wrap;
  align-items: baseline;
  justify-content: space-between;
  align-content: stretch;
}
</style>

<script>
import { DateTime } from "luxon"

export default {
  name: "ExperienceListItem",
  props: {
    company: {
      type: String
    },
    title: {
      type: String
    },
    about: {
      type: String
    },
    link: {
      type: String
    },
    location: {
      type: String
    },
    tasks: {
      type: Array
    },
    startdate: {
      type: [String, Date, Number],
      required: true
    },
    enddate: {
      type: [String, Date, Number],
      required: true
    }
  },
  methods: {
    formatDate: (date) => {
      if (date === "now") {
        return date
      }
      return DateTime.fromISO(date).toFormat("MMM yyyy")
    }
  }
}
</script>
