<template>
  <div class="flex-column">
    <slot />
  </div>
</template>

<script>
export default {
  name: "FlexColumn"
}
</script>

<style lang="scss">
.flex-column {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  min-width: 230px;

  > div {
    height: 2em;
    margin-top: 0.2em;
  }
}
</style>
