<template>
  <v-list-item class="flex-personalia-items">
    <v-icon color="iconColor">{{ icon }}</v-icon>
    <p class="black-text" v-html="text" />
  </v-list-item>
</template>

<script>
export default {
  name: "PersonaliaListItem",
  props: {
    text: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss">
.flex-personalia-items {
  display: flex;
  flex-direction: row;
  align-items: center;

  > p {
    margin-bottom: 0px;
    margin-left: 1em;
  }
}
</style>
