<template>
  <div class="grid-skill">
    <p class="black-text">{{ name }}</p>
    <Level :level="level" />
  </div>
</template>

<script>
import Level from "@/components/atoms/Level"

export default {
  props: {
    name: {
      type: String,
      default: "undefined name"
    },
    level: {
      type: [Object, Number],
      default: 0
    }
  },
  components: {
    Level
  }
}
</script>

<style lang="scss" scoped>
.grid-skill {
  display: grid;
  grid-template-columns: 90px auto;
  grid-template-rows: 2em;
  > p {
    display: inline-block;
    margin: auto;
    margin-left: 0;
    align-self: center;
  }
  > div {
    align-self: center;
  }
}
</style>
