<template>
  <v-app>
    <v-app-bar>
      <v-toolbar-title class="headline text-uppercase">
        <span class="font-weight-light">CV</span>
        <span>Bastiaan</span>
        <span class="font-weight-light">Van denabeele</span>
      </v-toolbar-title>

      <v-spacer></v-spacer>
      <CVdownloadButton>
        <download-card>
          <CVlayout id="cv-A4" class="A4-size" />
        </download-card>
      </CVdownloadButton>
    </v-app-bar>

    <v-content>
      <v-container>
        <v-layout justify-center align-center>
          <v-flex xs12 sm12 md12 lg12 xl8 offset-xl2>
            <v-card class="elevation-3">
              <router-view></router-view>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapGetters } from "vuex"

import CVdownloadButton from "./components/popup/CVdownloadButton"
import DownloadCard from "./components/popup/downloadCard.vue"
import CVlayout from "@/components/CV/CVLayout"

export default {
  name: "App",

  computed: {
    ...mapGetters({
      layout: "getA4Layout",
      baseUrl: "getBaseUrl"
    })
  },

  components: {
    CVdownloadButton,
    DownloadCard,
    CVlayout
  }
}
</script>
