:root {
  --tool-bar-border-radius: 0.5em;
  --tool-bar-border-width: 0.15em;
  --height-A4: 297px;
  --width-A4: 210px;
  --height-cv: 1772px; //calc(6 * var(--height-A4:)); //1782
  --width-cv: 1260px; //calc(6 * var(--width-A4:));//1260
}

a {
  text-decoration: none;
}

.flex-grow-3 {
  flex-grow: 3;
}

.v-application a {
  color: black !important;
}

.v-list {
  padding-top: 0;
  padding-bottom: 0;
}
.v-list-item__content {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

//storybook scss overwrite
#storybook {
  div.v-application--wrap {
    // overwrite min-height and max-width
    min-height: 0;
    max-width: None;
  }
}
#storybook.theme--light {
  //overwrite background color of theme in storybook
  background: transparent;
}

.black-text{
  color: var(--v-backgroundColor-darken4);
}

.black-accent-text{
  color: var(--v-backgroundColor-darken3);

}

.center-v-h {
  display: flex;
  align-items: center;
  justify-content: center;
}
